[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-pymongo = "*"
dnspython = "*"
gunicorn = "*"
matplotlib = "*"
pandas = "*"
sklearn = "*"
keras = "*"
pip = "==20.1.1"

[requires]
python_version = "3.8"
